Repository ziggybadans/dnd-character-builder, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ziggybadans, @project-admin, @backend-team, @database-team, @qa-team, @frontend-team, @technical-writers, @devops-team, @security-team

fix: rename CI job names to be more descriptive and unique
  .github/workflows/backend-ci.yml
  .github/workflows/frontend-ci.yml
Owners: @project-admin

test: improve test coverage for database, error handlers, and main modules
  backend/logs/app.log
  backend/tests/unit/test_database.py
  backend/tests/unit/test_error_handlers.py
  backend/tests/unit/test_main.py
Owners: @backend-team, @qa-team

style: format test files with black and isort
  backend/tests/unit/test_database.py
  backend/tests/unit/test_error_handlers.py
  backend/tests/unit/test_main.py
Owners: @backend-team, @qa-team

docs: add code style workflow section to contributing guidelines
  .github/contributing.md
Owners: @technical-writers

fix: update database tests to properly check session state
  .github/contributing.md
  backend/logs/app.log
  backend/tests/unit/test_database.py
  backend/tests/unit/test_error_handlers.py
  backend/tests/unit/test_main.py
Owners: @technical-writers, @backend-team, @qa-team

.github/CODEOWNERS:

# Global owner for all files
* @ziggybadans

# This ensures you get notified of all changes
# You can add more specific rules if you collaborate with others in the future

# Global owners (if no other rule matches)
* @project-admin

# Backend code
/backend/ @backend-team
/backend/app/models/ @database-team
/backend/app/schemas/ @database-team
/backend/app/services/ @backend-team
/backend/tests/ @backend-team @qa-team

# Frontend code
/frontend/ @frontend-team
/frontend/src/components/ @frontend-team
/frontend/src/pages/ @frontend-team
/frontend/tests/ @frontend-team @qa-team

# Documentation
/docs/ @technical-writers @project-admin
*.md @technical-writers

# Configuration files
*.json @devops-team
*.yaml @devops-team
*.toml @devops-team
/backend/requirements.txt @devops-team
/frontend/package.json @devops-team

# Security-sensitive files
/backend/app/config.py @security-team
/backend/app/utils/security.py @security-team

# Note: Replace the team names above with actual GitHub usernames or teams
# Example: * @actual-username
